<!--pricing-tables-->
<div class="prices-w3ls" id="price">
  <div class="container">
  <h3 class="tittle two">Our <span>Plans</span></h3>
    <div class="col-md-3 price-grid">
      <div class="price-head-w3">
        <h4>Basic plan</h4>
      </div>
      <div class="price-circle-w3l">
        <h3>Adipisci velit</h3>
        <h6>9%</h6>
        <p>dolorem ipsum</p>
        <span>$ 2000</span>
      </div>
      <div class="price-info-w3ls">
        <h5>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet"</h5>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Lorem Ipsum is simply dummy text </p>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>It is a long est a page when looking at its layout. </p>
      </div>
    </div>
    <div class="col-md-3 price-grid mid">
      <div class="price-head-w3">
        <h4>Medium plan</h4>
      </div>
      <div class="price-circle-w3l">
        <h3>Adipisci velit</h3>
        <h6>7%</h6>
        <p>dolorem ipsum</p>
        <span>$ 2500</span>
      </div>
      <div class="price-info-w3ls table-two">
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Lorem Ipsum is simply dummy text </p>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
      </div>
    </div>
    <div class="col-md-3 price-grid">
      <div class="price-head-w3">
        <h4>Premium plan</h4>
      </div>
      <div class="price-circle-w3l">
        <h3>Adipisci velit</h3>
        <h6>5%</h6>
        <p>dolorem ipsum</p>
        <span>$ 5000</span>
      </div>
      <div class="price-info-w3ls table-two">
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Lorem Ipsum is simply dummy text </p>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        <p><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
      </div>
    </div>
  </div>
</div>
<!--//pricing-tables-->

