<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inquiry_type.name %>
</p>

<%= link_to 'Edit', edit_inquiry_type_path(@inquiry_type) %> |
<%= link_to 'Back', inquiry_types_path %>
