<div class="footer">
		<div class="footer-head-agile">
			<ul>
				<li class="contact-agile"><span class="fa-icon-w3"><i class="fa fa-phone" aria-hidden="true"></i></span>CALL NOW : 040 123456 789</li>
				<li class="logo-w3ls"><h2><a  href="index.html">Thundergc</a></h2></li>
				<li class="mail"><span class="fa-icon-w3"><i class="fa fa-envelope" aria-hidden="true"></i></span>MAIL : <a href="mailto:info@example.com">INFO@EXAMPLE.COM</a></li>
			</ul>
		</div>
		<label></label>
	<div class="container">
		<div class="footer-content-agile">
			<div class="col-md-4 about-us-agile">
				<h4>about us</h4>
					<div class="aboutus-right-wthree">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
						</ul>
					</div>
			</div>
			<div class="col-md-4 news-letter-agileits-w3layouts">
				<h4>newsletter</h4>
				<p>signup for our weekly newsletter and get the latest updates</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your Email" required="" />
						<input type="submit" value="Subscribe" />
					</form>
			</div>
			<div class="col-md-4 from-blog-w3-agile">
				<h4>from blog</h4>
					<div class="footer-grid1">
						<div class="footer-grid1-left">
							<a href="#" data-toggle="modal" data-target="#myModal1"><img src="<%=asset_path('blog1.jpg')%>" alt=" " class="img-responsive"></a>
							<!-- Modal1 -->
						<div class="modal fade" id="myModal1" role="dialog">
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<img src="<%=asset_path('banner1.jpg')%>" alt=" " class="img-responsive">
										<h5>Eveniet ut molesti</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //Modal1 -->
						</div>
						<div class="footer-grid1-right">
							<a href="#" data-toggle="modal" data-target="#myModal1">Eveniet ut molesti</a><br>
							<span>may 21th 2016</span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-grid1">
						<div class="footer-grid1-left">
							<a href="#" data-toggle="modal" data-target="#myModal1"><img src="<%=asset_path('blog2.jpg')%>" alt=" " class="img-responsive"></a>
						</div>
						<div class="footer-grid1-right">
							<a href="#" data-toggle="modal" data-target="#myModal1">Earum rerum tenet</a><br>
							<span>june 12th 2016</span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-grid1">
						<div class="footer-grid1-left">
							<a href="#" data-toggle="modal" data-target="#myModal1"><img src="<%=asset_path('blog3.jpg')%>" alt=" " class="img-responsive"></a>
						</div>
						<div class="footer-grid1-right">
							<a href="#" data-toggle="modal" data-target="#myModal1">Maiores alias cons</a><br>
							<span>aug 20th 2016</span>
						</div>
						<div class="clearfix"> </div>
					</div>
			</div>
			<div class="clearfix"> </div>
			<div class="copy">
		        <p>© 2016 Real Plot . All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
		    </div>
		</div>
	</div>
</div>